<div class="background">
  <div class="circle circle1"></div>
  <div class="circle circle2"></div>
  <div class="circle circle3"></div>
</div>

<div class="signup-container">
  <div class="form-card">
    <div class="icon">
      <i class="pi pi-sign-in"></i>
    </div>

    <h2>Login here please !</h2>

    <form (ngSubmit)="login()">
      <input
        type="text"
        pInputText
        placeholder="Enter your email"
        class="full-width"
        [(ngModel)]="username"
        name="username"
        required
      />

      <input
        type="password"
        pInputText
        placeholder="Enter your password"
        class="full-width"
        [(ngModel)]="password"
        name="password"
        required
      />

      <button
        type="submit"
        pButton
        label="Log in"
        class="signup-btn"
      ></button>
    </form>


    <p class="login-link">Don't have an account? <a href="/register">Sign up</a></p>
  </div>
</div>
