<div class="background">
  <div class="circle circle1"></div>
  <div class="circle circle2"></div>
  <div class="circle circle3"></div>
</div>

<div class="signup-container">
  <div class="form-card">
    <div class="icon">
      <i class="pi pi-sign-in"></i>
    </div>

    <h2>Login</h2>

    <input type="email" pInputText placeholder="Enter your email " class="full-width" />
    <input type="password" pInputText placeholder="Enter your password " class="full-width" />

    <button pButton label="Log in" class="signup-btn"></button>

    <p class="login-link">Don't have an account? <a href="/register">Sign up</a></p>
  </div>
</div>
