<div class="login-container">
  <p-card class="login-card glass-card">
    <div class="header">
      <h3>👋 Hi there !</h3>
<p>Log in to keep learning with LearnifyTN</p>
    </div>
    
    <div class="form-group horizontal">
      <label for="username" class="input-label">Enter your user Name</label>
      <input id="username" pInputText class="custom-input" />
    </div>

    <div class="form-group horizontal">
      <label for="password" class="input-label">Enter your password</label>
      <input type="password" pInputText class="custom-input" />
    </div>

    <div class="form-group center-button">
      <button pButton type="button" label="Log in" class="modern-button"></button>
    </div>

    <p-divider></p-divider>

    <div class="footer-text">
      <span>Don't have an account?</span>
      <button pButton type="button" label="Create an account" class="p-button-text p-button-info"></button>
    </div>
  </p-card>
</div>
